.content>.information>.edit{
    border-bottom:0;
}
.content>.information>.edit>span:nth-of-type(1){
    margin-left:-20px;
    display: block;float: left;
}
.information>.edit>span>i{
    display: block;
    width:4px;
    height:14px;
    background: #e60012;
    margin-right:10px;
    float: left;
}
#card{
    border:0;
    background:#fff;
}

#card>form>.forms>.form-group{
    position: relative;
}
#card>form>.forms>.form-group>.portrait{
    width:140px;
    height:140px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left:0;right:0;margin:auto;
    background-size:cover ;
    background-position: center center;
}
#card>form>.forms>.form-group>.portrait>img{
    display: block;
    width:100%;
    height:100px;
}
#card>form>.forms>.form-group>.label{
    width:140px;
    height:30px;
    text-align: center;
    line-height: 24px;
    border-radius: 5px;
    background: #e60012;
    color: #fff;
    position: absolute;
    left:0;right:0;margin:auto;
    top:155px;
    z-index: 200;
    font-size:14px;
}
.information .contents>.list{
    height:570px;
    box-sizing: border-box;
    padding-right:5px;
}
.information .contents>.list>ul{
    border:1px solid #ccc;
    width:415px;
    height:100%;
    overflow-y: scroll;
    padding:32px 22px;
    border-radius: 6px;
}
::-webkit-scrollbar-track-piece{
    background: #f6f6f6;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar{
    width:10px;
    height:20px;
}
::-webkit-scrollbar-thumb{
    width:10px;
    height:20px;
    border-radius: 6px;
    background: #ccc;
}
.information .contents>.list>ul>li{
    float: left;
    width:104px;
    height:156px;
    margin-right:20px;
    cursor: pointer;
}
.information .contents>.list>ul>li:nth-of-type(3)~li{
    margin-top:20px;
}
.information .contents>.list>ul>li>img{
    display: block;
    width:100%;
    height:100%;
}
.information .contents>.list>ul>li:nth-of-type(3n+0){
    margin-right:0;
}
.information .contents>.show{
    height:570px;
}
.information>p{
    margin-top:132px;
    font-size:12px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.information>img{
    display: block;
    margin:50px auto;
}
.content>.information>.in_personal{
    background: #fff;
    border:0;
}
.show>.phone{
    width:276px;height:100%;background: url('../img/lbs-shouji.png') no-repeat;
    background-position: center center;
    background-size:cover;
    margin:0 auto;
    border-top:1px solid rgba(0,0,0,0);
}
.show>.phone>.img{
    margin:68px auto;
}
